# Identity Provider Keycloak
# see all configuration options at https://www.keycloak.org/server/all-config

# Temporary bootstrap admin username.
KC_BOOTSTRAP_ADMIN_USERNAME=admin

# Temporary bootstrap admin password.
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# The used HTTP port.
KC_HTTP_PORT=8088

# The HTTP Host.
KC_HTTP_HOST=0.0.0.0

# The log level of the root category or a comma-separated list of individual categories and their levels.
# For the root category, you don’t need to specify a category.
KC_LOG_LEVEL=INFO

# If the server should expose health check endpoints.
# If enabled, health checks are available at the /health, /health/ready and /health/live endpoints.
KC_HEALTH_ENABLED=true

# If health endpoints should be exposed on the management interface.
# If false, health endpoints will be exposed on the main interface.
KC_HTTP_MANAGEMENT_HEALTH_ENABLED=true

# Port of the management interface.
# Relevant only when something is exposed on the management interface
KC_HTTP_MANAGEMENT_PORT=9000