DATABASE_PASSWORD="<password>"
# supported database backends: postgres, sqlite
#DATABASE_URL="postgres://benjrm:${DATABASE_PASSWORD}@database:5432/benjrm"

# for sqlite, create an empty file (e.g. in the project's root directory): `touch benjrm.db`
# alternatively for an in-memory database, use "sqlite::memory:"
DATABASE_URL="sqlite:../config/benjrm.db?mode=rwc"

DOMAIN="benjrm.localhost"

# The public URL through which the application is accessible.
# If you are using traefik without modifying the host rules in `compose.yaml`, this should be "https://${DOMAIN}".
PUBLIC_URL="http://${DOMAIN}"

OIDC_CLIENT_ID="BENJRM"
OIDC_CLIENT_NAME="Benjrm"

OIDC_CLIENT_SECRET="PFUqhsIk1jmMS6l6sEMdgsf2TXqm9CnE"

# Hint: When using the production compose, remove port 3000
OIDC_ISSUER_URL="http://${DOMAIN}:3000/idp/oidc"

# If the identity provider is also reachable via an internal url, put the internal one here
# This is only required if the public url of the idp is different than the one set in `OIDC_ISSUER_URL`.
# Hint: When using the production compose, remove port 3000
OIDC_PUBLIC_IDP_URL="http://${DOMAIN}:3000/idp"

# Optional: URL to the account management page of the identity provider.
# If set, users will see a link to manage their account in the profile modal.
OIDC_ACCOUNT_URL="${OIDC_PUBLIC_IDP_URL}"

# To use an identity provider that doesn't have a well-known endpoint, configre the endpoints below:
# IMPORTANT: check README.md for security notes.
#OIDC_AUTHORIZATION_URL="${OIDC_PUBLIC_IDP_URL}/idp/oidc/auth"
#OIDC_TOKEN_URL="${OIDC_PUBLIC_IDP_URL}/idp/oidc/token"
#OIDC_USERINFO_URL="${OIDC_PUBLIC_IDP_URL}/idp/oidc/me"
#OIDC_LOGOUT_URL="${OIDC_PUBLIC_IDP_URL}/idp/oidc/session/end"

IDP_DB_ADAPTER=sqlite # only used in dev compose
IDP_STORAGE_KEY=ThisIsTotallyRandomAndAlsoSecure
IDP_SIGNUP=true
IDP_APPROVAL_REQUIRED=false
IDP_CLIENT_SKIP_CONSENT=true

# E-Mail configuration
#SMTP_HOST="mail.example.com"
#SMTP_FROM="mail@example.com"
#SMTP_PORT=587
#SMTP_SECURE=true
#SMTP_USER="mail@example.com"
#SMTP_PASS"MySecurePassword"
